/*
culori
    - bg: #EFEBDF
*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg {
    background-color: #EFEBDF;
    text-decoration: none;
    color: #000;
}

.offcanvas-header {
    margin: 50px 10px 10px 30px;
    font-weight: 1000;

}

.offcanvas-body {
    margin: 30px 10px 10px 30px;
    font-weight: 500;
    opacity: 80%;

}


.btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover, button, button:hover, button:focus, button:active{
    box-shadow: none!important;
    outline: 0;
}

.phone-animation {
    transition-duration: 100ms;

}

.phone-animation:hover {
    opacity: 80%;
    transform: rotate(0deg);
}

.btn-close {
    opacity: 80%;
    transition-duration: 100ms;
}

.btn-close:hover {
    opacity: 100%;
    transform: rotate(90deg);
}

.row {
    height: 3rem;
    background-color: #EFEBDF;
    font-size: 14px;
}



.carousel img {
    object-fit: fill;
}

.text-carousel {
    color: hsl(208, 56%, 14%);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}

.btn-carousel {
    background-color: hsl(208, 56%, 14%);
    color: white;
    width: 200px;
    height: 40px;
    border: 0px solid transparent;
    font-weight: 690;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-carousel:hover {
    background-color: black;
}

.resize {
    width: 100%;
    height: 769px;
}

.contact {
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #EFEBDF;
}

::-webkit-scrollbar-thumb {
    background: #fade89;
    border-radius: 69px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffc71e;
}

.span-nav {
    opacity: 75%;
    text-align: left;
    margin-top: 25px;
}

.dropdown-menu {
    border-color: transparent;
}

.nav-btn-menu {
    color: black;
    opacity: 70%;
}

.nav-btn-menu:hover {
    opacity: 90%;
}

.nav-btn-menu-fixed {
    color: black;
}

.icon-nav {
    color: black;
    font-size: 24px;
    opacity: 80%;
}

.icon-nav:hover {
    color: black;
    opacity: 100%;
}

.nav-items-hover {
    color: black;
    opacity: 70%;
}

.nav-items-hover:hover {
    opacity: 90%;
}

.icon-menu a{
    color: black;
    opacity: 70%;
    text-decoration: none;
}

.icon-menu a:hover{
    color: black;
    opacity: 90%;
}


.icon-menu i {
    font-size: 64px;
    opacity: 80%;
    align-items: center;
    text-align: center;
}





.new-item {
    color: white;
    font-size: 10px;
    background-color: #BCAC76;
    margin-left: 3px;
    border: 1px solid #BCAC76;
    border-radius: 20%;
}

.shop-title {
    color: black;
    font-weight: 450;
    
}


.shop-img {
    width: 100%;
    height: 100%;
}

.pages-title-text {
    font-size: 16px;
    font-weight: 700;
}

.docs-title {
    font-size: 16px;
    font-weight: 700;
    margin-left: 14px;
}

.docs-item {
    opacity: 70%;
}

.docs-item:hover {
    opacity: 90%;
}

.pages-subtitle {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.pages-subtitle:hover {
    color: black;
    opacity: 80%;
}

.pages-list {
    font-size: 12px;
    color: black;
    opacity: 50%;
    text-decoration: none;
    font-weight: 700;
}

.pages-list:hover {
    color: black;
    opacity: 80%;
}

.search-input {
    border: 0.5px solid black;
    border-style: hidden hidden solid hidden;
    margin-right: 30px;
}

.search-input input {
    outline: none !important;
    background-color: transparent;
    text-align: center;
    border-style: hidden hidden hidden hidden;
}

.search-input input:focus{
    outline: none !important;

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


.images a:hover {
	opacity: 0.7;
}

.images a{
	transition: .5s ease;
}

.right-item-display {
    color: #BCAC76;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.right-item-display:hover {
    color: #BCAC76;
    text-decoration: underline;
}

.left-item-display {
    color: black;
    font-size: 15px;
    text-decoration: none;
    opacity: 80%;
}

.left-item-display:hover {
    color: black;
    text-decoration: underline;
}



.card {
    width: 150px;
    height: 200;
}



.add-to-card {
    color: white;
    text-align: center;
    background-color: #BCAC76;
    position: relative;
    top: 50%;
    width: 100%;
    opacity: 0%;
    border: 0px solid transparent;

}

#stars{
    opacity: 0%;
    transition: 100ms;
    text-align: center;
}


.card:hover #stars {
    opacity: 100%;
}

.card:hover .add-to-card {
    opacity: 100%;
}

.input-element {
    margin-top: 25px;
}

.input-element input {
    outline: none !important;
    border: 1px solid black;
    margin-top: 10px;
    border-style: none none solid none;
    width: 95%;;
    border-color: rgba(0, 0, 0, .25);
    font-size: 17px;
}

.checkbox-element {
    font-size: 18px;
}

.checkbox-element input {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    
}

.radio-element input{
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);

}

.price-item {
    position: relative;
    display: flex;
    align-items: center;
}

.price-item .price {
    justify-content: end;
}

.item-login  p{
    font-size: 20px;
    font-weight: 700;

}

.item-login input {
    width: 80%;
    height: 30px;
    border-radius: 69deg;
    
}